BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
TabWidth: 4
ColumnLimit: 120
PenaltyExcessCharacter: 40
PenaltyReturnTypeOnItsOwnLine: 100
PointerAlignment: Left
AccessModifierOffset: -4
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BreakBeforeBraces: Allman
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true
NamespaceIndentation: All
IndentCaseLabels: true
SortIncludes: CaseInsensitive
IncludeCategories:
  - Regex: '^"'
    Priority: 1
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^<Q'
    Priority: 2
    SortPriority: 0
    CaseSensitive: false
  - Regex: '^<'
    Priority: 3
    SortPriority: 0
    CaseSensitive: false
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard: c++20
IndentPPDirectives: AfterHash
PPIndentWidth: 2
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false
BinPackArguments: true
BinPackParameters: true
ReflowComments: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
